.box-joke
{
	align-items: center;
	background: #9c27b0;
	border-radius: 0.25em;
	color: #fff;
	display: flex;
	margin: 1em;
	padding: 1em;

	&.is-fast
	{
		background: #8bc34a;
	}
}

.text-joke
{
	flex-grow: 1;
}

.text-meta
{
	font-size: 1.25em;
	min-width: 5em;
	text-align: right;
	white-space: nowrap;
}
