:host
{
	background: #f5f5f5;
	display: grid;
	gap: 0.5em;
	grid-template-areas: revert;
	grid-template-columns: repeat(10, 1fr);
	padding: 0.5em;
}

div
{
	align-items: center;
	background: #222;
	color: #aaa;
	display: flex;
	font-size: 1.5em;
	justify-content: center;
	padding: 2em;
}
