@import '../../styles/utilities';
@import '../../styles/variables';

.component-loader, .component-loader:before
{
	bottom: 0;
	height: 0.375em;
	left: 0;
	position: fixed;
	right: 0;
}

.component-loader
{
	background: gray(7);
	display: flex;
	opacity: 0;

	&.is-started
	{
		opacity: 1;

		&:before
		{
			animation: loader 1.4s linear infinite;
			background: $color-primary;
			content: '';
		}
	}
}

@keyframes loader
{
	0%
	{
		margin-left: 0;
		margin-right: 100%;
	}

	50%
	{
		margin-left: 50%;
		margin-right: 0;
	}

	100%
	{
		margin-left: 100%;
		margin-right: 0;
	}
}
