{
	"extends":
	[
		"@isnotdefined/eslint-config"
	],
	"parserOptions":
	{
		"project":
		[
			"./tsconfig.lint.json"
		]
	},
	"overrides":
	[
		{
			"files":
			[
				"*.ts"
			],
			"extends":
			[
				"plugin:@angular-eslint/template/process-inline-templates"
			]
		},
		{
			"files":
			[
				"*.html"
			],
			"extends":
			[
				"plugin:@angular-eslint/template/recommended"
			]
		}
	]
}
