.component-card
{
	align-items: center;
	counter-increment: card;
	color: #222;
	cursor: pointer;
	display: flex;
	font-size: 1.25em;
	justify-content: center;
	transition: 0.3s color, 0.3s border-color;
	padding: 2em;

	&.is-started
	{
		color: var(--color-primary)
	}

	&.is-completed
	{
		color: #ccc;
	}

	&.is-errored
	{
		color: var(--color-error);
	}

	&:after
	{
		content: counter(card);
	}
}
