@import '../../../styles/utilities';
@import '../../../styles/variables';

.component-card
{
	align-items: center;
	color: gray(20);
	counter-increment: card;
	cursor: pointer;
	display: flex;
	font-size: 1.25em;
	justify-content: center;
	padding: 2em;
	transition: 0.3s color, 0.3s border-color;

	&.is-started
	{
		color: var(--color-primary);
	}

	&.is-completed
	{
		color: gray(70);
	}

	&.is-errored
	{
		color: var(--color-error);
	}

	&:after
	{
		content: counter(card);
	}
}
