:host
{
	font: 1em quicksand, arial, serif;
}

main
{
	display: flex;
	min-height: 100vh;
}

@media (max-width: 60em)
{
	main
	{
		flex-direction: column;

		& app-panel
		{
			flex-grow: 1;
		}
	}
}

@media (min-width: 60em)
{
	main
	{
		& app-content
		{
			flex-grow: 1;
		}

		& app-panel
		{
			flex-basis: 30em;
		}
	}
}
