@import '../../../styles/utilities';

.list-console
{
	background: linear-gradient(gray(7), gray(9));
	border-radius: 0.25em;
	color: gray(70);
	height: 15.25em;
	overflow-y: scroll;
	padding: 0.5em;
	scrollbar-color: var(--color-primary) gray(7);

	&::-webkit-scrollbar
	{
		background: gray(7);
		width: 0.375em;
	}

	&::-webkit-scrollbar-thumb
	{
		background: var(--color-primary);
	}
}

.item-console
{
	display: flex;
	gap: 1em;
	justify-content: space-between;

	& + .item-console
	{
		margin-top: 0.5em;
	}
}
