.list-console
{
	background: linear-gradient(#121212, #181818);
	border-radius: 0.25em;
	color: #ccc;
	height: 15.25em;
	overflow-y: scroll;
	scrollbar-color: var(--color-primary) #121212;
	padding: 0.5em;

	&::-webkit-scrollbar
	{
		background: #121212;
		width: 0.375em;
	}

	&::-webkit-scrollbar-thumb
	{
		background: var(--color-primary);
	}
}

.item-console
{
	display: flex;
	justify-content: space-between;
	gap: 1em;

	& + .item-console
	{
		margin-top: 0.5em;
	}
}
