<form [formGroup]="form">
	<fieldset formGroupName="request">
		<label>
			<span>request.amount</span>
			<span>{{ getValue('request.amount')  }}</span>
		</label>
		<input type="range" formControlName="amount" min="1" max="100" />

		<label>
			<span>request.delay</span>
			<span [ngTemplateOutlet]="time" [ngTemplateOutletContext]="{ value : getValue('request.delay') }"></span>
		</label>
		<input type="range" formControlName="delay" max="10000" step="100" />
	</fieldset>

	<fieldset formGroupName="abort">
		<label>
			<span>abort.lifetime</span>
			<span [ngTemplateOutlet]="time" [ngTemplateOutletContext]="{ value : getValue('abort.lifetime') }"></span>
		</label>
		<input type="range" formControlName="lifetime" max="10000" step="100" />
	</fieldset>

	<fieldset formGroupName="cache">
		<label>
			<span>cache.lifetime</span>
			<span [ngTemplateOutlet]="time" [ngTemplateOutletContext]="{ value : getValue('cache.lifetime') }"></span>
		</label>
		<input type="range" formControlName="lifetime" max="10000" step="100" />
	</fieldset>

	<fieldset formGroupName="observe">
		<label>
			<span>observe.lifetime</span>
			<span [ngTemplateOutlet]="time" [ngTemplateOutletContext]="{ value : getValue('observe.lifetime') }"></span>
		</label>
		<input type="range" formControlName="lifetime" max="10000" step="100" />
	</fieldset>

	<fieldset formGroupName="environment">
		<label>environment.apiUrl</label>
		<input type="text" formControlName="apiUrl" />
		<label>environment.apiRoute</label>
		<input type="text" formControlName="apiRoute" />
	</fieldset>

	<fieldset>
		<label>console</label>
		<app-console></app-console>
	</fieldset>
</form>

<ng-template #time let-value="value">
	<ng-container *ngIf="value > 0">{{ value }} ms</ng-container>
	<ng-container *ngIf="value === 0">off</ng-container>
</ng-template>



<app-loader></app-loader>
